<?xml version='1.0' encoding='utf-8'?>
<widget id="com.connecthings.appcordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaAppDemo</name>
    <description>A sample Apache Cordova application that use the Connecthings' SDK</description>
    <author email="dev@cordova.apache.org" href="http://connecthings.com">Connecthings</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <hook src="hooks/android-build-fixes.js" type="before_build" />
        <hook src="hooks/android-build-fixes.js" type="before_run" />
        <resource-file src="www/assets/connectplace-settings.xml" target="app/src/main/res/values/connectplace-settings.xml" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <hook src="hooks/bridge-settings-removal.js" type="before_plugin_add" />
        <resource-file src="www/assets/connectplace-settings.plist" target="connectplace-settings.plist" />
    </platform>
    <engine name="android" spec="^7.1.1" />
    <engine name="ios" spec="^4.5.5" />
</widget>
